@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/


@font-face {font-family: "iconfont";
  src: url('/css/fonts/iconfont.eot'); /* IE9*/
  src: url('/css/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/css/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('/css/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/css/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}




.banner{background:url(/images/banner.png) no-repeat;margin:0 auto;width:960px;height:150px}
.banner .img-text{float:left;display:inline;margin:32px 0 0 77px;width:258px;height:97px;position:relative}
.banner .text{float:left;display:inline;margin-left: 55px;}

.user-account{margin-top:20px;line-height:20px;font-size:14px;color:#333;text-align: left;}
.user-account p{width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size: 12px;}
.banner .greeting{float:right;display:inline;margin:68px 20px 0 0;text-align:right;line-height:23px;font-size:16px;font-family:'Microsoft Yahei';color:#fff}



.main{position: relative; width: 800px;padding-left: 160px; margin: 10px auto 0;background: #fff;text-align: left;z-index: 0;}
.main:after{content:'';display: block;visibility:hidden;height: 0;clear: both;}
.main section{ padding-left: 27px;padding-right: 27px;overflow: auto;padding-bottom: 20px;}
.main h2{position: relative; border-bottom: 2px solid gray;color: #4d4d4d; padding-bottom: 7px; padding-top: 31px; font: 700 18px/20px STHei,"Microsoft YaHei","WenQuanYi Micro Hei";}
.main h2 cite{position: absolute;right: 10px;bottom: 0;line-height: 28px;font-size: 12px;font-weight: normal;color: #666;}
.main h2 cite a{float: left;margin-left: 10px;}
.main h2 cite img{vertical-align: -3px;width: 16px;margin-right: 2px;}



.user_sidebar{position: relative; float: left;margin-left: -160px;border:1px solid #ddd;box-shadow: 0 0 2px #ddd;  width: 128px;padding: 0 10px 0; line-height: 43px;text-align: left; }
.user_sidebar>a{display: block;position: relative; line-height: 20px;margin-top: 20px;font-size: 14px;font-weight: 700;padding-left: 30px;}
.user_sidebar cite {display: block;padding: 15px 0 20px;overflow: hidden;border-bottom: 1px solid #ddd;margin-bottom: -1px;}
.user_sidebar cite a{white-space: nowrap;color: #666;float: left;margin-right: 10px;line-height: 25px; }
.user_sidebar a.on{color: #ff6f15;}

.user_sidebar>a:before{position: absolute;left: 0;top: 0;font-weight: normal; font-size: 20px;font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.user_sidebar>a.side_opa{color: #39b7e0;}
.user_sidebar>a.side_opa:before{content: '\e600';}
.user_sidebar>a.side_bsn{color: #88bb31;}
.user_sidebar>a.side_bsn:before{content: '\e605';}
.user_sidebar>a.side_mch{color: #ff7c3c;}
.user_sidebar>a.side_mch:before{content: '\e602';}
.user_sidebar>a.side_crd{color: #ff495e;}
.user_sidebar>a.side_crd:before{content: '\e607';}
.user_sidebar>a.side_sms{color: #02c5c8;}
.user_sidebar>a.side_sms:before{content: '\e601';}
.user_sidebar>a.side_acc{color: #f00;}
.user_sidebar>a.side_acc:before{content: '\e606';}
.user_sidebar>a.side_pow{color: #CE02B4;}
.user_sidebar>a.side_pow:before{content: '\e603';}
.user_sidebar>a.side_apy{color: #55CE02;}
.user_sidebar>a.side_apy:before{content: '\e604';}


.content{position: relative;padding: 20px 20px 45px;width: 758px; border:1px solid #ddd;box-shadow: 0 0 2px #ddd; }
.content h3{position: relative; border-bottom: 1px solid #ddd;font-size: 14px;height: 35px;margin-bottom: 10px;color: #333;}
.content h3 a{position: absolute;right: 0;top: 0;color: #666;cursor: pointer;}
.content h3 a img{vertical-align: -3px;margin-right: 3px;}
.content h3 a:hover{color: #E95C00;}


.fukrm{position: relative;background-color: #f4faff;padding: 20px 10px;border: 1px solid #d8eafa;margin: 0 0 10px 0;}
.fukrm_bkg{position: absolute;bottom: 0;right: 0;display: none;}



.button{display: inline-block; margin-right: 5px; vertical-align: 1px;  text-align: center; text-decoration: none; cursor: pointer; font-weight: 700; border-radius: 2px; padding: 0 20px; border: 1px solid #afafaf; background-color: #f3f3f3; padding: 0 12px; font-size: 12px; color: #777; line-height: 22px; height: 22px;}
.login form{padding-top: 0;}
a.btn_submit{position: relative;display: inline-block; width: 160px;font-size: 14px;height: 40px;line-height: 40px;border-radius: 2px; color: #fff !important;background: #ee2323;text-align: center;border: none; cursor: pointer; behavior:url(pie.htc); }
input.btn_submit{position: relative; width: 160px;font-size: 14px;height: 40px;line-height: 40px;border-radius: 2px; color: #fff !important;background: #ee2323;text-align: center;border: none; cursor: pointer; behavior:url(pie.htc); }




/********表单********/
.checkboxtree_tle{float: left;width: 140px;text-align: right;}
.checkboxtree_box{display: inline-block;vertical-align: top; width: 507px; height: 200px;overflow: auto;white-space: nowrap; border:1px solid #ddd;}
.checkboxtree{display: inline-block; position: relative;margin-left: 15px;  line-height: 28px;  }
.checkboxtree:before{content: '';position: absolute;left: 0px;top: 0;width: 0;height: 100%;border-right: 1px dotted #666;}

.checkboxtree label{display: block;margin-left: 0;line-height: 28px;margin-bottom: 0; position: relative;padding-left: 21px; cursor: pointer;-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none;}
.checkboxtree label:before{content: '';position: absolute;left: 0px;top: 50%; width: 20px;height: 0;border-top:1px dotted #666;}

.checkboxtree .fukrm_checkbox {margin-top: -5px;}
.checkboxtree input{vertical-align: -2px;}
.checkboxtree cite{display: block; position: relative; margin-left: 15px;border-left: 1px dotted #666;}
.checkboxtree cite label{display: none;}
.checkboxtree cite>i{position: absolute;z-index: 1; top: -20px;left: -7px;cursor: pointer;background: #fff;  width: 10px;height: 10px;text-align: center;line-height: 10px;font-size: 12px;font-style: normal; vertical-align: middle; border:1px solid #ddd;}
.checkboxtree cite:after{content: ''; position: absolute;bottom: 0;left: -1px; width: 0px;height: 13px;border-left: 1px solid #fff; }


/*分页*/
.ajaxpage{overflow:hidden;border-top: 1px solid #ddd;padding-top: 20px;  text-align:right;text-align: center;}
.ajaxpage .total{float:left;display: none; }
.ajaxpage .item{display:inline-block;}
.ajaxpage a{display: inline-block;padding:0 8px;margin-left: -1px; font-size: 12px; border:1px solid #ddd;line-height:20px; height:20px; color:#333;   }
.ajaxpage a:hover{color: #ee2323;}
.ajaxpage a.prev,
.ajaxpage a.next{ margin:0 10px;   }
.ajaxpage a.current{background:#ccc;color:#fff;border-color: #ccc; }


.rechargefile input[type=file]{opacity: 1;}


/*更多内容*/
.moreinfo{display:none;background-color: #fff;border: 1px solid #b9c8d3;padding:5px;}
.moreinfo:before{content: '';position:absolute;width: 0;height: 0;top: -7px;left: 10px;border-style: solid;border-width: 0 7px 7px;border-color: transparent transparent #b9c8d3;}
.moreinfo:after{content: '';position:absolute;width: 0;height: 0;top: -6px;left: 10px;border-style: solid;border-width: 0 7px 7px;border-color: transparent transparent #fff;}
.moreinfo table tbody tr:hover td {background: #dde9f2;}
.moreinfo table th {background-color: #ededed;height: 26px;line-height: 26px;font-weight: bold;color: #666;}
.moreinfo table td{border:1px solid #ddd;}

.dialog .moreinfo{display: block;}
